@import "tailwindcss";

@font-face {
  font-family: 'Arial Black';
  src: url('/src/assets/fonts/arial-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@theme {
  --font-arial-black: "Arial Black", Arial, system-ui, sans-serif;
}

@layer utilities {
  .clip-default {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .clip-fancy {
    clip-path: polygon(0px 0px, 100% 2.03828%, 97.8889% 97.9617%, 2.11107% 100%);
  }
}